<template>
  <button @click="show=!show">Mostrar/ocultar</button>
  <transition>
    <h1 v-if="show">Hello world animated</h1>
  </transition>

<input type="text" v-model="note" />
<button @click="addNote">Save note</button>
<TransitionGroup name="list" tag="ul">
  <li v-for="note in notes" :key="note"><v-icon name="bi-file-arrow-down-fill" scale="2" animation="pulse"/> {{ note }}</li>
</TransitionGroup>
</template>

<script lang="ts" setup>
import { Ref,ref } from 'vue'

const show=ref(false)
const notes:Ref <Array<string>> =ref([])
const note:Ref <string> = ref('')
const addNote=()=>{
  notes.value.push(note.value)
}


</script>

<style scoped>
.v-enter-from, .v-leave-to{
  opacity: 0;
}
.v-enter-active, .v-leave-active{
  transition: opacity 0.5s ease;
}

.list-enter-from, .list-leave-to{
  opacity: 0;
}
.list-enter-active, .list-leave-active{
  transition: all 0.6s ease;
}

</style>